<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="5">
	<test name="Test">
		<classes>
			<!-- 
			<class name="testPackage.Base"/> 
			<class name="testPackage.LoginFunctionality"/>
			<class name="testPackage.PatientFunctionality"/>
			<class name = "testPackage.PayorInsuranceFunctionality"/>
			<class name = "testPackage.ServicePreferenceFunctionality"/>
			<class name="testPackage.AllergyFunctionality"/>
			<class name="testPackage.VitalsFunctionality"/> 
			 <class name="testPackage.LabsFunctionality"/> 
			 <class name="testPackage.SocialHistoryFunctionality"/>  
			 <class name="testPackage.HealthHistoryFunctionality"/>
			 <class name="testPackage.MedListFunctionality"/>
			 <class name="testPackage.AddCaseFunctionality"/>
			 <class name="testPackage.AddPrescriptionfunctionality" />
			  <class name="testPackage.CaseBannerFunctionality"/>
			  <class name="testPackage.PreBIFunctionality" />
			  <class name="testPackage.AddConsentFunctionality" />
			  <class name="testPackage.PAFunctionality" />   
			  <class name="testPackage.AddAppealFunctionality"/>
			   <class name="testPackage.CopayCardFunctionality"/>
			  <class name="testPackage.AddFoundationFunctionality"/>
			  <class name="testPackage.PostBiFunctionality"/>
			  <class name="testPackage.POSFunctionality" />
			  <class name="testPackage.CaseCompletedFunctionality" />
			   <class name="testPackage.CommunicationLogFuntionality" />
			   -->
		<class name="testPackage.FaxSendFunctionality" />
			   
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
